<ul class="nav-list">
    <li>
        <a routerLinkActive="active" routerLink="list-food">Menus disponibles</a>
    </li>
    <li>
        <a routerLinkActive="active" routerLink="shop">Ventes</a>
    </li>
    <li>
        <a routerLinkActive="active" routerLink="table">Table application</a>
    </li>
</ul>
<div>
  <router-outlet></router-outlet>
</div>
