<div class="container">
  <!-- TABLE 1 -->
  <!-- TABLE 1 -->
  <!-- TABLE 1 -->
  <div class="mat-elevation-z8 list-food-available">
    <h1>Recherchez et ajoutez une commande</h1>
    <mat-form-field class="input-filter">
      <mat-label>Entrez le nom de la commande</mat-label>
      <input matInput (keyup)="applyFilter($event)" type="text" #input />
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom du plat</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="ingredients">
        <th mat-header-cell *matHeaderCellDef>Ingrédients</th>
        <td mat-cell *matCellDef="let element">
          <p *ngFor="let ingredient of element.ingredients">
            {{ ingredient.quantity }} {{ ingredient.unity }} -
            {{ ingredient.name }}
          </p>
        </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Prix</th>
        <td mat-cell *matCellDef="let element">
          {{ element.price | currency }}
        </td>
      </ng-container>
      <ng-container matColumnDef="add">
        <th mat-header-cell *matHeaderCellDef>Ajouter à la liste</th>
        <td mat-cell *matCellDef="let element">
          <button
            type="button"
            (click)="add(element)"
            mat-button
            color="primary"
          >
            <small>Ajouter</small> <mat-icon>add</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
      <!-- No filter matching -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">"{{ input.value }}" n'existe pas.</td>
      </tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[2, 3]"
      showFirstLastButtons
      aria-label="selection"
    >
    </mat-paginator>
  </div>
  <!-- TABLE 2 -->
  <!-- TABLE 2 -->
  <!-- TABLE 2 -->

  <div class="list-for-sale mat-elevation-z8">
    <h1>Liste des commandes à envoyer</h1>
    <div id="data">
      <table mat-table #tableFacture [dataSource]="forSales" >
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantités</th>
          <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nom</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
        <ng-container matColumnDef="ingredients">
          <th mat-header-cell *matHeaderCellDef>Ingrédients</th>
          <td mat-cell *matCellDef="let element">
            <p *ngFor="let ingredient of element.ingredients">
              {{ ingredient }}
            </p>
          </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Prix Quantités</th>
          <td mat-cell *matCellDef="let element">
            {{ element.price | currency }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsForSale"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsForSale"></tr>
      </table>
      <h2 class="total">Total: {{ totalPrice }}</h2>
    </div>
    <div class="send-container">
      <button
        *ngIf="totalPrice != 0"
        mat-raised-button
        color="primary"
        (click)="onSend()"
      >
        Envoyer la commande
      </button>
      <button
        *ngIf="totalPrice != 0"
        mat-raised-button
        color="primary"
        (click)="openPDF()"
      >
        Imprimer
      </button>
      <button
        *ngIf="totalPrice != 0"
        mat-raised-button
        color="warn"
        (click)="cancel()"
      >
        Annuler cette commande
      </button>
    </div>
  </div>
</div>
